* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
font-size: 62.5%; 
background-color: grey;
margin: 0 10rem;
}

body {
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.6rem;
color: black;
background-color: #FFFFFF; }

@media screen and (max-width: 600px){ 

}

@media screen and (max-width: 900px) { 

}

@media screen and (max-width: 1200px) { 
  html {
    margin: 0;
  }
}